[access]
	inheritFrom = msb
[project]
	description = Service API gateway which provides client request routing, client request load balancing, transformation, such as https to http, authentication & authorization for service request with plugin of auth service provider,service request logging,service request rate-limiting,service monitoring,request result cache,solve cross-domain issue for web application and other functionalities with the pluggable architecture capability.
[allowSuperproject "doc"]
	matching = refs/heads/beijing:refs/heads/2.0.0-ONAP
	matching = refs/heads/beijing:refs/heads/beijing
