[access]
	inheritFrom = All-Projects
[project]
	description = Service API gateway which provides client request routing, client request load balancing, transformation, such as https to http, authentication & authorization for service request with plugin of auth service provider,service request logging,service request rate-limiting,service monitoring,request result cache,solve cross-domain issue for web application and other functionalities with the pluggable architecture capability.
[access "refs/*"]
	owner = group ldap/onap-gerrit-msb-apigateway-committers
	read = group GitHub Replication
